@import "tailwindcss";

@theme {
  --color-neutral-100: #f5f5f5;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  --color-yellow-500: #eab308;
  --color-yellow-600: #ca8a04;

  --font-sans: var(--font-be-vietnam-pro), sans-serif;
  --font-heading: var(--font-montserrat), sans-serif;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  * {
    @apply border-neutral-700;
  }

  body {
    @apply bg-neutral-900 text-neutral-100;
  }
}